 
    #map > svg > g > g > path.country_China 
    {fill: #8b0000;}	
     
    #map > svg > g > g > path.country_India 
    {fill: #8b0101;}	
     
    #map > svg > g > g > path.country_United_States 
    {fill: #c1a0a0;}	
     
    #map > svg > g > g > path.country_Indonesia 
    {fill: #c5aaaa;}	
     
    #map > svg > g > g > path.country_Pakistan 
    {fill: #c7b0b0;}	
     
    #map > svg > g > g > path.country_Nigeria 
    {fill: #c7b2b2;}	
     
    #map > svg > g > g > path.country_Brazil 
    {fill: #c8b3b3;}	
     
    #map > svg > g > g > path.country_Bangladesh 
    {fill: #cab9b9;}	
     
    #map > svg > g > g > path.country_Russia 
    {fill: #cbbdbd;}	
     
    #map > svg > g > g > path.country_Mexico 
    {fill: #ccc0c0;}	
     
    #map > svg > g > g > path.country_Japan 
    {fill: #ccc0c0;}	
     
    #map > svg > g > g > path.country_Ethiopia 
    {fill: #ccc0c0;}	
     
    #map > svg > g > g > path.country_Philippines 
    {fill: #cdc1c1;}	
     
    #map > svg > g > g > path.country_Egypt 
    {fill: #cdc2c2;}	
     
    #map > svg > g > g > path.country_DR_Congo 
    {fill: #cec4c4;}	
     
    #map > svg > g > g > path.country_Vietnam 
    {fill: #cec4c4;}	
     
    #map > svg > g > g > path.country_Iran 
    {fill: #cec5c5;}	
     
    #map > svg > g > g > path.country_Turkey 
    {fill: #cec6c6;}	
     
    #map > svg > g > g > path.country_Germany 
    {fill: #cec6c6;}	
     
    #map > svg > g > g > path.country_Thailand 
    {fill: #cfc8c8;}	
     
    #map > svg > g > g > path.country_United_Kingdom 
    {fill: #cfc9c9;}	
     
    #map > svg > g > g > path.country_Tanzania 
    {fill: #cfc9c9;}	
     
    #map > svg > g > g > path.country_France 
    {fill: #cfc9c9;}	
     
    #map > svg > g > g > path.country_South_Africa 
    {fill: #cfcaca;}	
     
    #map > svg > g > g > path.country_Italy 
    {fill: #d0caca;}	
     
    #map > svg > g > g > path.country_England 
    {fill: #d0caca;}	
     
    #map > svg > g > g > path.country_Myanmar 
    {fill: #d0cbcb;}	
     
    #map > svg > g > g > path.country_Kenya 
    {fill: #d0cbcb;}	
     
    #map > svg > g > g > path.country_Colombia 
    {fill: #d0cbcb;}	
     
    #map > svg > g > g > path.country_South_Korea 
    {fill: #d0cbcb;}	
     
    #map > svg > g > g > path.country_Spain 
    {fill: #d0cbcb;}	
     
    #map > svg > g > g > path.country_Uganda 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Sudan 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Argentina 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Algeria 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Iraq 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Afghanistan 
    {fill: #d0cccc;}	
     
    #map > svg > g > g > path.country_Poland 
    {fill: #d0cdcd;}	
     
    #map > svg > g > g > path.country_Ukraine 
    {fill: #d0cdcd;}	
     
    #map > svg > g > g > path.country_Canada 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Morocco 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Saudi_Arabia 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Angola 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Uzbekistan 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Peru 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Malaysia 
    {fill: #d1cdcd;}	
     
    #map > svg > g > g > path.country_Yemen 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Ghana 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Mozambique 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Nepal 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Madagascar 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Venezuela 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Ivory_Coast 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Cameroon 
    {fill: #d1cece;}	
     
    #map > svg > g > g > path.country_Niger 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Australia 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_North_Korea 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Taiwan 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Burkina_Faso 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Mali 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Syria 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Sri_Lanka 
    {fill: #d1cfcf;}	
     
    #map > svg > g > g > path.country_Malawi 
    {fill: #d1d0d0;}	
     
    #map > svg > g > g > path.country_Zambia 
    {fill: #d1d0d0;}	
     
    #map > svg > g > g > path.country_Romania 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Chile 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Kazakhstan 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Ecuador 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Guatemala 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Chad 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Somalia 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Netherlands 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Senegal 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Cambodia 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Zimbabwe 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Guinea 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Rwanda 
    {fill: #d2d0d0;}	
     
    #map > svg > g > g > path.country_Benin 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Burundi 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Tunisia 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Bolivia 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Belgium 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Haiti 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Jordan 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Dominican_Republic 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Cuba 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_South_Sudan 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Sweden 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Czech_Republic 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Honduras 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Greece 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Azerbaijan 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Portugal 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Papua_New_Guinea 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Hungary 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Tajikistan 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Belarus 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_United_Arab_Emirates 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Israel 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Austria 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Togo 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Switzerland 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Sierra_Leone 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Laos 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Hong_Kong 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Serbia 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Nicaragua 
    {fill: #d2d1d1;}	
     
    #map > svg > g > g > path.country_Libya 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Bulgaria 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Paraguay 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Kyrgyzstan 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Turkmenistan 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_El_Salvador 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Singapore 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Republic_of_the_Congo 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Denmark 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Slovakia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Central_African_Republic 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Finland 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Scotland 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Lebanon 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Norway 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Liberia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Palestine 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_New_Zealand 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Costa_Rica 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Ireland 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Mauritania 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Oman 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Panama 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Kuwait 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Croatia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Georgia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Eritrea 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Uruguay 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Mongolia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Moldova 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Puerto_Rico 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Bosnia_And_Herzegovina 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Wales 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Albania 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Jamaica 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Armenia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Lithuania 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Gambia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Qatar 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Botswana 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Namibia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Gabon 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Lesotho 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Slovenia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Guinea_Bissau 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_North_Macedonia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Latvia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Kosovo 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Equatorial_Guinea 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Trinidad_And_Tobago 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Bahrain 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Timor_Leste 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Estonia 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Mauritius 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Cyprus 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Eswatini 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Djibouti 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Reunion 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Fiji 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Comoros 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Guyana 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Bhutan 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Solomon_Islands 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Luxembourg 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Montenegro 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Suriname 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Cape_Verde 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Western_Sahara 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Malta 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Maldives 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Brunei 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Bahamas 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Belize 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Guadeloupe 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Iceland 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Martinique 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Vanuatu 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Mayotte 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_French_Guiana 
    {fill: #d2d2d2;}	
     
    #map > svg > g > g > path.country_Barbados 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Sao_Tome_And_Principe 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Samoa 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Saint_Lucia 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Kiribati 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Grenada 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Micronesia 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Seychelles 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Tonga 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Saint_Vincent_And_the_Grenadines 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Antigua_And_Barbuda 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Andorra 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Dominica 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Greenland 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Saint_Kitts_And_Nevis 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Marshall_Islands 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Liechtenstein 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Monaco 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_San_Marino 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Palau 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Nauru 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Tuvalu 
    {fill: #d3d3d3;}	
     
    #map > svg > g > g > path.country_Vatican_City 
    {fill: #d3d3d3;}	
    